<div>
<iframe
  class="airtable-embed"
  src="https://airtable.com/embed/appyreXbsqMvaSsZe/pagp0vKuS2cBzqxyT/form"
  
  width="100%"
  height="533"
  style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>