  <div class="h-screen w-screen">
  <iframe
    class="airtable-embed w-full h-full"
    src="https://airtable.com/embed/appyreXbsqMvaSsZe/pagiqL5znfBLNGf6a/form"
    frameborder="0"
    onmousewheel=""
    width="700"
    height="700"
    style="background: transparent; border: 1px solid #ccc;"
  >
  </iframe>
</div>
