---
// src/pages/generate-link.astro

const response = await fetch('http://localhost:8888/.netlify/functions/generate-token');

const { token, link } = await response.json();
---

<h1>Generar enlace temporal</h1>
<p>Enlace generado: <a href={link}>{link}</a></p>
