<div class="mt-2 text-center">
  <a
    href="#"
    class="flex items-center justify-center mb-5 text-2xl font-semibold text-gray-900"
  >
    <img src="/loroico.png" class="h-12 mr-3 sm:h-9" alt="Landwind Logo" />
  </a>

  <span class="block text-md text-center text-gray-500"
    >© 2024 Parrots Club. Todos los derechos reservados. Hecha en
    <a title="Astro" href="https://astro.build/" class="text-indigo-300 hover:underline"
      >Astro</a
    > por
    <a
    title="pavelsoft"
      href="https://www.linkedin.com/company/pavel-soft"
      class="text-white hover:underline "
      ><span class="text-sky-400">P</span>a<span class="text-lime-400">V</span
      >el Soft.
    </a>.
  </span>

 
</div>
