<nav
  class="cursor-example flex flex-wrap items-center justify-between fixed inset-x-0 z-50 p-3 bg-black bg-opacity-60"
>
  <a href="#" title="logoico"
    ><img
      src="/loroico.png"
      class="h-10 w-10 shake-left"
      alt="ACME"
      width="120"
     /></a
  >
  <button><a
    title="navbar"
    href="#contacto"
    class="  border-4 border-amber-400 md:flex flex w-full text-xl md:w-auto px-4 py-2 font-bold text-center transition-all duration-200 bg-[#e3d779] hover:bg-yellow-700 hover:text-white text-black md:rounded"
    >¡RESERVA TU FECHA!
  </a></button>
  <div class="flex md:hidden">
    <button id="hamburger" aria-label="menu" class="bg-[#e3d779] rounded-lg">
      <img
        class="toggle block"
        src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png"
        alt=""
        width="40"
        height="40"
      />
      <img
        id="hide"
        class="toggle hidden"
        alt=""
        src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png"
        width="40"
        height="40"
      />
    </button>
  </div>
  <div
    class="toggle hidden gap-5 w-full ml-4 md:w-auto md:flex text-center text-bold  md:mt-0"
  >
    <a
      title="navbar"
      href="#quienes"
      class="block md:inline-block text-xl text-[#e3d779] hover:text-yellow-500 px-3 py-3"
      >Equipo humano
    </a>
    <a
      title="navbar"
      href="#repertorio"
      class="block md:inline-block text-xl text-[#e3d779] hover:text-yellow-500 px-3 py-3"
      >Lo que tocamos
    </a>
    <a
      title="navbar"
      href="#clientes"
      class="block md:inline-block text-xl text-[#e3d779] hover:text-yellow-500 px-3 py-3"
      >Qué dicen
    </a>
    <a
      title="navbar"
      href="/AreaClub"
      class="block bg-[#e3d779] hover:bg-teal-500 hover:text-white rounded-md md:inline-block text-xl font-bold text-black  px-3 py-3"
      >Área club
    </a>
  </div>

  <!-- <a
    title="navbar"
    href="#contacto"
    class="toggle hidden border-4 border-amber-400 md:flex w-full text-xl md:w-auto px-4 py-2 font-bold text-center transition-all duration-200 bg-[#e3d779] hover:bg-yellow-700 hover:text-white text-black md:rounded"
    >¡RESERVA TU FECHA!
  </a> -->
</nav>
<script>
  document.getElementById("hamburger").onclick = function toggleMenu() {
    const navToggle = document.getElementsByClassName("toggle");
    for (let i = 0; i < navToggle.length; i++) {
      navToggle.item(i).classList.toggle("hidden");
    }
  };

  document.addEventListener("DOMContentLoaded", function () {
    var quienesLink = document.querySelector('a[href="#quienes"]');

    // Agregar event listener para el evento de clic en el enlace "Quiénes somos"
    quienesLink.addEventListener("click", function (event) {
      // Evitar el comportamiento predeterminado del enlace
      event.preventDefault();

      // Ir al inicio de la página con una animación suave
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
      const navToggle = document.getElementsByClassName("toggle");

      for (let i = 0; i < navToggle.length; i++) {
        navToggle.item(i).classList.toggle("hidden");
      }
      // Esperar un breve momento antes de dirigirse a la sección correspondiente
      setTimeout(function () {
        // Obtener el href del enlace "Quiénes somos"
        var href = quienesLink.getAttribute("href");
        // Obtener el elemento correspondiente a la sección
        var section = document.querySelector(href);
        if (section) {
          // Ir a la sección correspondiente con una animación suave
          section.scrollIntoView({
            behavior: "smooth",
          });
        }
      }, 1000); // Esperar 1 segundo antes de dirigirse a la sección correspondiente
    });
  });
  document.addEventListener("DOMContentLoaded", function () {
    var repertorioLink = document.querySelector('a[href="#repertorio"]');

    // Agregar event listener para el evento de clic en el enlace "Quiénes somos"
    repertorioLink.addEventListener("click", function (event) {
      // Evitar el comportamiento predeterminado del enlace
      event.preventDefault();

      // Ir al inicio de la página con una animación suave
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
      const navToggle = document.getElementsByClassName("toggle");

      for (let i = 0; i < navToggle.length; i++) {
        navToggle.item(i).classList.toggle("hidden");
      }
      // Esperar un breve momento antes de dirigirse a la sección correspondiente
      setTimeout(function () {
        // Obtener el href del enlace "Quiénes somos"
        var href = repertorioLink.getAttribute("href");
        // Obtener el elemento correspondiente a la sección
        var section = document.querySelector(href);
        if (section) {
          // Ir a la sección correspondiente con una animación suave
          section.scrollIntoView({
            behavior: "smooth",
          });
        }
      }, 1000); // Esperar 1 segundo antes de dirigirse a la sección correspondiente
    });
  });
  document.addEventListener("DOMContentLoaded", function () {
    var clientesLink = document.querySelector('a[href="#clientes"]');

    // Agregar event listener para el evento de clic en el enlace "Quiénes somos"
    clientesLink.addEventListener("click", function (event) {
      // Evitar el comportamiento predeterminado del enlace
      event.preventDefault();

      // Ir al inicio de la página con una animación suave
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
      const navToggle = document.getElementsByClassName("toggle");

      for (let i = 0; i < navToggle.length; i++) {
        navToggle.item(i).classList.toggle("hidden");
      }
      // Esperar un breve momento antes de dirigirse a la sección correspondiente
      setTimeout(function () {
        // Obtener el href del enlace "Quiénes somos"
        var href = clientesLink.getAttribute("href");
        // Obtener el elemento correspondiente a la sección
        var section = document.querySelector(href);
        if (section) {
          // Ir a la sección correspondiente con una animación suave
          section.scrollIntoView({
            behavior: "smooth",
          });
        }
      }, 1000); // Esperar 1 segundo antes de dirigirse a la sección correspondiente
    });
  });
  document.addEventListener("DOMContentLoaded", function () {
    var contactoLink = document.querySelector('a[href="#contacto"]');

    // Agregar event listener para el evento de clic en el enlace "Quiénes somos"
    contactoLink.addEventListener("click", function (event) {
      // Evitar el comportamiento predeterminado del enlace
      event.preventDefault();

      // Ir al inicio de la página con una animación suave
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
      // const navToggle = document.getElementsByClassName("toggle");

      // for (let i = 0; i < navToggle.length; i++) {
      //   navToggle.item(i).classList.toggle("hidden");
      // }
      // Esperar un breve momento antes de dirigirse a la sección correspondiente
      setTimeout(function () {
        // Obtener el href del enlace "Quiénes somos"
        var href = contactoLink.getAttribute("href");
        // Obtener el elemento correspondiente a la sección
        var section = document.querySelector(href);
        if (section) {
          // Ir a la sección correspondiente con una animación suave
          section.scrollIntoView({
            behavior: "smooth",
          });
        }
      }, 500); // Esperar 1 segundo antes de dirigirse a la sección correspondiente
    });
  });
</script>
<style>
  .shake-left {
    -webkit-animation: shake-left 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      2s 5 both;
    animation: shake-left 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s 5 both;
  }
  /* ----------------------------------------------
 * Generated by Animista on 2024-4-22 1:31:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation shake-left
 * ----------------------------------------
 */
  @-webkit-keyframes shake-left {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
    }
    10% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
  }
  @keyframes shake-left {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
    }
    10% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
  }
</style>
