<nav
  class="cursor-example flex flex-wrap items-center justify-between fixed inset-x-0 z-50 p-3 bg-black bg-opacity-60"
>
  <a href="#"
    ><img
      src="/public/loroico.png"
      class="h-10 w-10"
      alt="ACME"
      width="120"
      class=""
    /></a
  >
  <div class="flex md:hidden">
    <button id="hamburger" class="bg-[#e3d779] rounded-lg">
      <img
        class="toggle block"
        src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png"
        width="40"
        height="40"
      />
      <img
        class="toggle hidden"
        src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png"
        width="40"
        height="40"
      />
    </button>
  </div>
  <div
    class="toggle hidden gap-5 w-full ml-4 md:w-auto md:flex text-center text-bold mt-5 md:mt-0"
  >
    <a
      href="#quienes"
      class="block md:inline-block text-xl text-[#e3d779] hover:text-yellow-500 px-3 py-3"
      >Quiénes somos
    </a>
    <a
      href="#repertorio"
      class="block md:inline-block text-xl text-[#e3d779] hover:text-yellow-500 px-3 py-3"
      >Qué hacemos
    </a>
    <a
      href="#clientes"
      class="block md:inline-block text-xl text-[#e3d779] hover:text-yellow-500 px-3 py-3"
      >Qué dicen
    </a>
  </div>
  <a
    href="#contacto"
    class="toggle hidden md:flex w-full text-xl md:w-auto px-4 py-2 font-bold text-center transition-all duration-200 bg-[#e3d779] hover:bg-yellow-700 hover:text-white text-black md:rounded"
    >¡CONTÁCTANOS!
  </a>
</nav>
<script>
  document.getElementById("hamburger").onclick = function toggleMenu() {
    const navToggle = document.getElementsByClassName("toggle");
    for (let i = 0; i < navToggle.length; i++) {
      navToggle.item(i).classList.toggle("hidden");
    }
  };
</script>
<style>
  .cursor-example {
    cursor: url("/public/loro.png");
  }
</style>
