<div>
  <h1
  id="quienes"
    class="text-4xl items-center justify-center text-center mt-4 leading-10 tracking-wider text-amber-200 sm:text-5xl sm:leading-none md:text-6xl"
  >
    QUIÉNES SOMOS
  </h1>
</div>
<div class="flex p-5 mt-2 justify-center content-center items-center w-full">
  <p
    class="text-center md:w-1/2 justify-center p-3 content-center text-sm md:text-xl text-slate-100 border-4 border-[#e3d779] rounded-lg"
  >
    Nuestro camino empezó en 2017. Ese verano dimos nuestro primer concierto en
    una celebración familiar y desde ahí no hemos parado. Se sumó Pedro naciendo
    así Parrots y los tres nos recorrimos numerosos bares, campings y
    chiringuitos de playa hasta nuestras primeras bodas tocando en acústico.
    Ahora centrados en Parrots Club junto a Julio y Santi nos hemos pasado a lo
    eléctrico para montar auténticos fiestones que por el momento no se nos da
    mal.
  </p>
</div>
<div class="flex justify-center">
  <img src="/grupo.jpg" alt="grupo" width="800" height="700" class="" />
</div>
<div class="container mx-auto my-3 flex justify-center items-center">
  <div class="border-b border-[#e3d779] p-4 rounded-lg">
    <div class="overflow-auto">
      <p class="mb-4 text-center text-lg text-balance text-slate-100">
        Santi, Asier, Julio y Manu. <br /> De izquierda a derecha esos son los nombres
        de los componentes de este nuestro grupo.
      </p>
    </div>
  </div>
</div>
<style>
  h1 {
    font-family: "Cinzel", serif;
  }
</style>
