<div>
  <h1
  id="quienes"
    class="text-4xl items-center justify-center text-center mt-4 leading-10 tracking-wider text-amber-200 sm:text-5xl sm:leading-none md:text-6xl"
  >
    EQUIPO HUMANO
  </h1>
</div>
<div class="flex p-5 mt-2 justify-center content-center items-center w-full">
  <p
    class="text-center md:w-1/2 justify-center p-3 content-center text-sm md:text-xl text-slate-100 border-4 border-[#e3d779] rounded-lg"
  >
  Somos de los grupos más solicitados para tocar en bodas.
  Además de ser los ganadores a uno de los mejores
  proveedores del año según el portal Bodas.net ¿Eso
  quiere decir algo? Posiblemente no, lo realmente
  importante es lo que podemos aportaros en nuestro
  directo.
  </p>
</div>
<div class="flex justify-center">
  <img
    src="equipo.JPG"
    alt="grupo"
    class="rounded-md p-2 w-full max-w-2xl"
    loading="lazy"
  />
</div>
<div class="container mx-auto my-3 flex justify-center items-center">
  <div class="border-b border-[#e3d779] p-4 rounded-lg">
    <div class="overflow-auto">
      <p class="mb-4 text-center text-lg text-balance text-slate-100">
        Santi, Asier, Julio, Manu y Álex. <br /> De izquierda a derecha esos son los nombres
        de las personas que hacen posible esto.
      </p>
    </div>
  </div>
</div>
<style>
  h1 {
    font-family: "Cinzel", serif;
  }
</style>
