---
// interface Props {
// 	title: string;
// }
const analyticsId = 'G-X948P42KJ9'; // reemplazá con tu ID
// const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NF72KTRT');</script>
<!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X948P42KJ9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '${analyticsId}');
</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Los parrots club" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/loroico.png" />
		<meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Parrots - Grupo de música para bodas" />
  <meta property="og:description" content="Música en vivo para bodas y celebraciones en Asturias y España." />
		<title>Parrots Club | Grupo de música para bodas</title>
  <meta name="description" content="Parrots es un grupo de música en vivo especializado en bodas, principalmente en Asturias, celebraciones y eventos especiales. Música inolvidable para tu día perfecto." />
	</head>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NF72KTRT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a !important;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	@font-face {
    font-family: "Cinzel";
 
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Cinzel";
   
    font-weight: 700;
    font-style: normal;
  }
  .date-picker-container label {
    color: white;
  }
  .date-picker-container label,
.date-picker-container label:focus,
.date-picker-container label:active,
.date-picker-container label[data-shrink="true"] {
  color: #e3d779 !important;
}
.date-picker-container input {
  color: #FFFFFF !important;               /* Fuerza el color blanco en el texto */
}

.date-picker-container input::placeholder {
  color: #FFFFFF !important;               /* Fuerza el color blanco en el placeholder */
}
.data-\[editable\=true\]\:text-foreground[data-editable=true] {
    --tw-text-opacity: 1;
    color: #ffffff;
}
.group[data-filled-within=true] .group-data-\[filled-within\=true\]\:text-default-600 {
    --tw-text-opacity: 1;
    color: #e3d779;
}
.text-foreground {
    --tw-text-opacity: 1;
    color: #d6c967;
}
.data-\[disabled\=true\]\:text-default-300[data-disabled=true] {
    --tw-text-opacity: 1;
    color: #e3d779 /;
}
.bg-default-50 { 
    --tw-bg-opacity: 1;
    background-color: rgb(3, 3, 3);
}
.bg-content1 {
    --tw-bg-opacity: 1;
    background-color: #e9da66;
}

.after\:bg-primary::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(207, 181, 66);
}
.text-secondary {
    --tw-text-opacity: 1;
    color:#e3d779;
}
.after\:bg-secondary::after{
	content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(207, 181, 66);
}
.group[data-has-value=true] .group-data-\[has-value\=true\]\:text-default-foreground {
    --tw-text-opacity: 1;
    color: #FFFFFF !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white; /* Cambia el color del texto a blanco */
  -webkit-box-shadow: 0 0 0px 1000px #333 inset; /* Cambia el fondo, reemplaza #333 por el color deseado */
  box-shadow: 0 0 0px 1000px #333 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.text-medium {
    font-size: 12px;
    line-height: var(--nextui-line-height-medium);
}
.bg-default-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(181, 138, 45, 1);
}
</style>
 <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicGroup",
  "name": "Parrots Club",
  "description": "Parrots es un grupo y banda de música especializado en bodas y eventos privados. Estamos en Asturias, pero nos desplazamos a cualquier parte de España si fuese necesario. Contamos con un repertorio variado y adaptado a cada evento.",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Asturias",
    "addressCountry": "España"
  },
  "url": "https://www.losparrotsclub.com/",
  "image": "https://www.losparrotsclub.com/logo.png",
  "sameAs": [
    "https://instagram.com/losparrotsclub",
  ],
  "member": [
    {
      "@type": "Person",
      "name": "Asier",
      "@type": "Person",
      "name": "Manu",
      "@type": "Person",
      "name": "Santi",
      "@type": "Person",
      "name": "Vega",
      "@type": "Person",
      "name": "Julio"
    }
  ]
}
</script>